{% extends 'base.html' %}
{% block content %}
{% load static %}
<!--Section-->
<div>
  <div class="sptb-1">
    <div class="header-text1 mb-0">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 col-lg-12 col-md-12 d-block mx-auto">
            <div class="text-center text-white text-property">
              <h1 class=""><span class="font-weight-bold">2000+</span> Best  Courses Available Here!</h1>
            </div>
            <div class="search-background bg-transparent">
              <div class="form row no-gutters ">
                <div class="form-group  col-xl-4 col-lg-3 col-md-12 mb-0 bg-white">
                  <input type="text" class="form-control input-lg br-tr-md-0 br-br-md-0" id="text4" placeholder="Search Courses.....">
                </div>
                <div class="form-group  col-xl-3 col-lg-3 col-md-12 mb-0 bg-white">
                  <input type="text" class="form-control input-lg br-md-0" id="text5" placeholder="Enter Location">
                  <span><i class="fa fa-map-marker location-gps mr-1"></i> </span>
                </div>
                <div class="form-group col-xl-3 col-lg-3 col-md-12 select2-lg  mb-0 bg-white">
                  <select class="form-control select2-show-search  border-bottom-0" data-placeholder="Select Category">
                    <optgroup label="Categories">
                      <option>Select</option>
                      <option value="1">IT</option>
                      <option value="2">Language</option>
                      <option value="3">Science</option>
                      <option value="4">Health</option>
                      <option value="5">Humanities</option>
                      <option value="6">Business</option>
                      <option value="7">Math</option>
                      <option value="8">Marketing</option>
                    </optgroup>
                  </select>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-12 mb-0">
                  <a href="#" class="btn btn-lg btn-block btn-primary br-tl-md-0 br-bl-md-0">Search Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /header-text -->
  </div>
</div><!--/Section-->
</div><!--/Section-->

<!--Breadcrumb-->
<div class="bg-white border-bottom">
<div class="container">
  <div class="page-header">
    <h4 class="page-title">Course List</h4>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Pages</a></li>
      <li class="breadcrumb-item active" aria-current="page">Course List</li>
    </ol>
  </div>
</div>
</div>	<!--/Breadcrumb-->

<!--Section-->
<section class="sptb">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8 col-md-12">
        <!--Coursed lists-->
        <div class=" mb-lg-0">
          <div class="">
            <div class="item2-gl ">
              <div class=" mb-0">
                <div class="">
                  <div class="p-5 bg-white item2-gl-nav d-flex">
                    <h6 class="mb-0 mt-2">Showing 1 to 10 of 30 entries</h6>
                    <ul class="nav item2-gl-menu ml-auto">
                      <li class=""><a href="#tab-11" class="active show" data-toggle="tab" title="List style"><i class="fa fa-list"></i></a></li>
                      <li><a href="#tab-12" data-toggle="tab" class="" title="Grid"><i class="fa fa-th"></i></a></li>
                    </ul>
                    <div class="d-flex">
                      <label class="mr-2 mt-1 mb-sm-1">Sort By:</label>
                      <select name="item" class="form-control select-sm w-70">
                        <option value="1">Latest</option>
                        <option value="2">Oldest</option>
                        <option value="3">Fees:Low-to-High</option>
                        <option value="5">Fees:Hight-to-Low</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-content">


                <div class="tab-pane active" id="tab-11">

                  {% for course in courses %}
                  <div class="card overflow-hidden">
                    <div class="d-md-flex">
                      <div class="item-card9-img">
                        <div class="item-card9-imgs">
                          <a href="page-details.html"></a>
                          <img src="{{course.course_thumbnail.url}}" alt="img" class="cover-image">
                        </div>
                        <div class="item-card9-icons">
                          <a href="#" class="item-card9-icons1 text-danger"> <i class="fa fa-heart"></i></a>
                          <a href="#" class="item-card9-icons1 bg-black-trasparant"> <i class="fa fa fa-share-alt"></i></a>
                        </div>
                        <div class="item-overly-trans">
                        <a href="page-details.html" class="bg-primary">Online</a>
                        </div>
                      </div>
                      <div class="card border-0 mb-0">
                        <div class="card-body ">
                          <div class="item-card9">
                            <a href="page-details.html" class="text-dark"><h3 class="font-weight-semibold mt-1">{{course.course_title}}</h3></a>
                             <div class="mt-2 mb-2">
                              <a href="#" class="mr-4"><span class="text-muted fs-13"><i class="fa fa-briefcase mr-1"></i> {{course.course_stream}}</span></a>
                              <a href="#" class="mr-4"><span class="text-muted fs-13"><i class="fa fa-user text-muted mr-1"></i> {{course.course_author}}</span></a>
                              <a href="#" class="mr-4"><span class="text-muted fs-13"><i class="fa fa-clock-o text-muted mr-1"></i> {{course.created_date}}</span></a>
                            </div>
                            <p class="mb-0 leading-tight">{{course.about_course}} </p>
                          </div>
                        </div>
                        <div class="card-footer pt-4 pb-4">
                          <div class="item-card9-footer d-flex">
                            <div class="item-card9-cost">
                              <h4 class="text-dark font-weight-semibold mb-0 mt-0">{{course.course_price}}</h4>
                            </div>
                            <div class="ml-auto">
                              <div class="rating-stars block">
                                <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value"  value="3">
                                <div class="rating-stars-container">
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                  <div class="rating-star sm">
                                    <i class="fa fa-star"></i>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  {% endfor %}

                </div>

              </div>
            </div>
            <div class="center-block text-center">
              <ul class="pagination mb-5 mb-lg-0">
                <li class="page-item page-prev disabled">
                  <a class="page-link" href="#" tabindex="-1">Prev</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item page-next">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--/Coursed lists-->
      </div>

      <!--Right Side Content-->
      <div class="col-xl-3 col-lg-4 col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control br-tl-3 br-bl-3" placeholder="Search">
              <div class="input-group-append ">
                <button type="button" class="btn btn-primary br-tr-3 br-br-3">
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-0">
          <div class="card-header">
            <h3 class="card-title">Categories</h3>
          </div>
          <div class="card-body">
            <div class="" id="container">
              <div class="filter-product-checkboxs">
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">Business<span class="label label-secondary float-right">14</span></a>
                  </span>
                </label>
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">Data Science<span class="label label-secondary float-right">22</span></a>
                  </span>
                </label>
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox3" value="option3">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">IT<span class="label label-secondary float-right">78</span></a>
                  </span>
                </label>
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox4" value="option3">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">Marketing<span class="label label-secondary float-right">35</span></a>
                  </span>
                </label>
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox5" value="option3">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">Beautician<span class="label label-secondary float-right">23</span></a>
                  </span>
                </label>
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox6" value="option3">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">Photography<span class="label label-secondary float-right">14</span></a>
                  </span>
                </label>
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">Litarature <span class="label label-secondary float-right">45</span></a>
                  </span>
                </label>
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">Law<span class="label label-secondary float-right">34</span></a>
                  </span>
                </label>
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">Nursing<span class="label label-secondary float-right">12</span></a>
                  </span>
                </label>
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">Digital Marketing<span class="label label-secondary float-right">18</span></a>
                  </span>
                </label>
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">Web Designing<span class="label label-secondary float-right">02</span></a>
                  </span>
                </label>
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">Languages<span class="label label-secondary float-right">15</span></a>
                  </span>
                </label>
                <label class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" name="checkbox7" value="option3">
                  <span class="custom-control-label">
                    <a href="#" class="text-dark">App Development<span class="label label-secondary float-right">32</span></a>
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="card-header border-top">
            <h3 class="card-title">Levels</h3>
          </div>
          <div class="card-body">
            <div class="filter-product-checkboxs">
              <label class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" name="checkbox11" value="option1">
                <span class="custom-control-label">
                Beginner
                </span>
              </label>
              <label class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" name="checkbox12" value="option2">
                <span class="custom-control-label">
                  Intermediate
                </span>
              </label>
              <label class="custom-control custom-checkbox mb-0">
                <input type="checkbox" class="custom-control-input" name="checkbox13" value="option2">
                <span class="custom-control-label">
                  Advanced
                </span>
              </label>
            </div>
          </div>
          <div class="card-header border-top">
            <h3 class="card-title">Fees Range</h3>
          </div>
          <div class="card-body">
            <h6>
               <label for="price">Fees Range:</label>
               <input type="text" id="price">
            </h6>
            <div id="mySlider"></div>
          </div>
          <div class="card-header border-top">
            <h3 class="card-title">Type</h3>
          </div>
          <div class="card-body">
            <div class="filter-product-checkboxs">
              <label class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
                <span class="custom-control-label">
                Offline Classes
                </span>
              </label>
              <label class="custom-control custom-checkbox mb-0">
                <input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
                <span class="custom-control-label">
                  Online Classes
                </span>
              </label>
            </div>
          </div>
          <div class="card-header border-top">
            <h3 class="card-title">Posted By</h3>
          </div>
          <div class="card-body">
            <div class="filter-product-checkboxs">
              <label class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" name="checkbox1" value="option1">
                <span class="custom-control-label">
                  Others
                </span>
              </label>
              <label class="custom-control custom-checkbox mb-2">
                <input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
                <span class="custom-control-label">
                Institute
                </span>
              </label>
              <label class="custom-control custom-checkbox mb-0">
                <input type="checkbox" class="custom-control-input" name="checkbox2" value="option2">
                <span class="custom-control-label">
                  Management
                </span>
              </label>
            </div>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-block">Apply Filter</a>
          </div>
        </div>
      </div>
      <!--/Right Side Content-->
    </div>
  </div>
</section><!--Section-->





<!-- Onlinesletter-->
<section class="sptb bg-white border-top">
<div class="container">
  <div class="row">
    <div class="col-lg-7 col-xl-6 col-md-12">
      <div class="sub-newsletter">
        <h3 class="mb-2"><i class="fa fa-paper-plane-o mr-2"></i> Subscribe To Our Onlinesletter</h3>
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
    </div>
    <div class="col-lg-5 col-xl-6 col-md-12">
      <div class="input-group sub-input mt-1">
        <input type="text" class="form-control input-lg " placeholder="Enter your Email">
        <div class="input-group-append ">
          <button type="button" class="btn btn-primary btn-lg br-tr-3  br-br-3">
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</section><!--/Onlinesletter-->

{% endblock %}
