
{% extends 'base.html' %}
{% block content %}
{% load static %}
</div>

<div class="cover-image bg-background3">

<!--Breadcrumb-->
<section>
  <div class="bannerimg">
    <div class="header-text mb-0">
      <div class="container">
        <div class="text-center text-white">
          <h1 class="">Blog-Grid</h1>
          <ol class="breadcrumb text-center">
            <li class="breadcrumb-item"><a href="{% url 'home'%}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Blog</a></li>
            <li class="breadcrumb-item active text-white" aria-current="page">Blog-Grid</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section><!--/Breadcrumb-->
</div><!--Section-->

<!--Section-->
<section class="sptb">
<div class="container">
  <div class="row">
    <!--Coursed lists-->
    <div class="col-xl-8 col-lg-8 col-md-12">
      <div class="row blog-grid">
        <div class="col-xl-6 col-lg-12 col-md-12">
          <div class="card">
            <div class="item7-card-img">
              <a href="#"></a>
              <img src="../assets/images/media/0-1.jpg" alt="img" class="cover-image">
              <div class="item7-card-text">
                <span class="badge badge-success">Offline</span>
              </div>
            </div>
            <div class="card-body">
              <div class="item7-card-desc d-flex mb-2">
                <a href="#" class="text-muted"><i class="fa fa-calendar-o mr-2"></i>Dec-03-2018</a>
                <div class="ml-auto">
                  <a href="#" class="text-muted"><i class="fa fa-comment-o mr-2"></i>4 Comments</a>
                </div>
              </div>
              <a href="#" class="text-dark"><h3 class="font-weight-semibold">Itaque earum sapiente</h3></a>
              <p>Ut enim ad minima veniam, quis exercitationem into enim ad minima veniam, quis nostrum itationem </p>
              <a href="#" class="btn btn-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12">
          <div class="card">
            <div class="item7-card-img">
              <a href="#"></a>
              <img src="../assets/images/media/0-2.jpg" alt="img" class="cover-image">
              <div class="item7-card-text">
                <span class="badge badge-info">Online</span>
              </div>
            </div>
            <div class="card-body">
              <div class="item7-card-desc d-flex mb-2">
                <a href="#" class="text-muted"><i class="fa fa-calendar-o mr-2"></i>Nov-28-2018</a>
                <div class="ml-auto">
                  <a href="#" class="text-muted"><i class="fa fa-comment-o mr-2"></i>2 Comments</a>
                </div>
              </div>
              <a href="#" class="text-dark"><h3 class="font-weight-semibold">Certain circumstances claims</h3></a>
              <p>Ut enim ad minima veniam, quis exercitationem into enim ad minima veniam, quis nostrum itationem </p>
              <a href="#" class="btn btn-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12">
          <div class="card">
            <div class="item7-card-img">
              <a href="#"></a>
              <img src="../assets/images/media/0-4.jpg" alt="img" class="cover-image">
              <div class="item7-card-text">
                <span class="badge badge-success">Online</span>
              </div>
            </div>
            <div class="card-body">
              <div class="item7-card-desc d-flex mb-2">
                <a href="#" class="text-muted"><i class="fa fa-calendar-o mr-2"></i>Nov-19-2018</a>
                <div class="ml-auto">
                  <a href="#" class="text-muted"><i class="fa fa-comment-o text-muted mr-2"></i>8 Comments</a>
                </div>
              </div>
              <a href="#" class="text-dark"><h3 class="font-weight-semibold">Libero tempore soluta </h3></a>
              <p>Ut enim ad minima veniam, quis exercitationem into enim ad minima veniam, quis nostrum itationem </p>
              <a href="#" class="btn btn-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12">
          <div class="card">
            <div class="item7-card-img">
              <a href="#"></a>
              <img src="../assets/images/media/0-5.jpg" alt="img" class="cover-image">
              <div class="item7-card-text">
                <span class="badge badge-info">Offline</span>
              </div>
            </div>
            <div class="card-body">
              <div class="item7-card-desc d-flex mb-2">
                <a href="#" class="text-muted"><i class="fa fa-calendar-o text-muted mr-2"></i>Nov-13-2018</a>
                <div class="ml-auto">
                  <a href="#" class="text-muted"><i class="fa fa-comment-o text-muted mr-2"></i>7 Comments</a>
                </div>
              </div>
              <a href="#" class="text-dark"><h3 class="font-weight-semibold"> At accusamus iusto</h3></a>
              <p>Ut enim ad minima veniam, quis exercitationem into enim ad minima veniam, quis nostrum itationem </p>
              <a href="#" class="btn btn-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12">
          <div class="card">
            <div class="item7-card-img">
              <a href="#"></a>
              <img src="../assets/images/media/0-6.jpg" alt="img" class="cover-image">
              <div class="item7-card-text">
                <span class="badge badge-success">Online</span>
              </div>
            </div>
            <div class="card-body">
              <div class="item7-card-desc d-flex mb-2">
                <a href="#" class="text-muted"><i class="fa fa-calendar-o text-muted mr-2"></i>Dec-10-2018</a>
                <div class="ml-auto">
                  <a href="#" class="text-muted"><i class="fa fa-comment-o text-muted mr-2"></i>1 Comments</a>
                </div>
              </div>
              <a href="#" class="text-dark"><h3 class="font-weight-semibold">Sed perspiciatis omnis</h3></a>
              <p>Ut enim ad minima veniam, quis exercitationem into enim ad minima veniam, quis nostrum itationem </p>
              <a href="#" class="btn btn-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-12 col-md-12">
          <div class="card">
            <div class="item7-card-img">
              <a href="#"></a>
              <img src="../assets/images/media/0-8.jpg" alt="img" class="cover-image">
              <div class="item7-card-text">
                <span class="badge badge-info">Offline</span>
              </div>
            </div>
            <div class="card-body">
              <div class="item7-card-desc d-flex mb-2">
                <a href="#" class="text-muted"><i class="fa fa-calendar-o text-muted mr-2"></i>Nov-01-2018</a>
                <div class="ml-auto">
                  <a href="#" class="text-muted"><i class="fa fa-comment-o text-muted mr-2"></i>5 Comments</a>
                </div>
              </div>
              <a href="#" class="text-dark"><h3 class="font-weight-semibold">Excepteur occaecat cupidatat</h3></a>
              <p>Ut enim ad minima veniam, quis exercitationem into enim ad minima veniam, quis nostrum itationem </p>
              <a href="#" class="btn btn-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="center-block text-center">
        <ul class="pagination mb-lg-0 mb-5">
          <li class="page-item page-prev disabled">
            <a class="page-link" href="#" tabindex="-1">Prev</a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item page-next">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </div>
    </div>
    <!--/Coursed lists-->
    <!--Right Side Content-->
    <div class="col-xl-4 col-lg-4 col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Categories</h3>
        </div>
        <div class="card-body p-0">
          <div class="list-catergory">
            <div class="item-list">
              <ul class="list-group mb-0">
                <li class="list-group-item">
                  <a href="#" class="text-dark">
                    <i class="fa fa-code bg-primary text-primary"></i> IT
                    <span class="badgetext badge badge-pill badge-light mb-0 mt-1">14</span>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#" class="text-dark">
                    <i class="fa fa-language bg-success text-success"></i>Language
                    <span class="badgetext badge badge-pill badge-light mb-0 mt-1">63</span>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#" class="text-dark">
                    <i class="fa fa-heartbeat bg-info text-info"></i> Health
                    <span class="badgetext badge badge-pill badge-light mb-0 mt-1">25</span>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#" class="text-dark">
                    <i class="fa fa-camera bg-warning text-warning"></i> Photoshop
                    <span class="badgetext badge badge-pill badge-light mb-0 mt-1">74</span>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#" class="text-dark">
                    <i class="fa fa-flask bg-danger text-danger"></i> Data Science
                    <span class="badgetext badge badge-pill badge-light mb-0 mt-1">18</span>
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="#" class="text-dark">
                    <i class="fa fa-mobile bg-blue text-blue"></i> Mobile computing
                    <span class="badgetext badge badge-pill badge-light mb-0 mt-1">32</span>
                  </a>
                </li>
                <li class="list-group-item border-bottom-0">
                  <a href="#" class="text-dark">
                    <i class="fa fa-paint-brush  bg-secondary text-pink"></i> Beautician
                    <span class="badgetext badge badge-pill badge-light mb-0 mt-1">08</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Popular Classes</h3>
        </div>
        <div class="card-body">
          <div class="product-tags clearfix">
            <ul class="list-unstyled mb-0">
              <li><a href="#">Web Security</a></li>
              <li><a href="#">Mobile Computing</a></li>
              <li><a href="#">Slaesforce</a></li>
              <li><a href="#">Python Classes</a></li>
              <li><a href="#">Data Science</a></li>
              <li><a href="#">Digital marketing</a></li>
              <li><a href="#">UNIX</a></li>
              <li><a href="#">.net</a></li>
              <li><a href="#">Automobiles</a></li>
              <li><a href="#">Computer</a></li>
              <li><a href="#" class="mb-0">Web Designing</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card mb-0">
        <div class="card-header">
          <h3 class="card-title">Blog Authors</h3>
        </div>
        <div class="card-body p-0">
          <ul class="vertical-scroll">
            <li class="item2">
              <div class="footerimg d-flex mt-0 mb-0">
                <div class="d-flex footerimg-l mb-0">
                  <img src="../assets/images/users/female/18.jpg" alt="image" class="avatar brround  mr-2">
                  <a href="#" class="time-title p-0 leading-normal mt-2">Boris	Nash <i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"></i></a>
                </div>
                <div class="mt-2 footerimg-r ml-auto">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Articles"><span class="text-muted mr-2"><i class="fa fa-comment-o"></i> 16</span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Likes"><span class="text-muted"><i class="fa fa-thumbs-o-up"></i> 36</span></a>
                </div>
              </div>
            </li>
            <li class="item2">
              <div class="footerimg d-flex mt-0 mb-0">
                <div class="d-flex footerimg-l mb-0">
                  <img src="../assets/images/users/female/10.jpg" alt="image" class="avatar brround  mr-2">
                  <a href="#" class="time-title p-0 leading-normal mt-2">Lorean Mccants <i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"></i></a>
                </div>
                <div class="mt-2 footerimg-r ml-auto">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Articles"><span class="text-muted mr-2"><i class="fa fa-comment-o"></i> 43</span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Likes"><span class="text-muted"><i class="fa fa-thumbs-o-up"></i> 23</span></a>
                </div>
              </div>
            </li>
            <li class="item2">
              <div class="footerimg d-flex mt-0 mb-0">
                <div class="d-flex footerimg-l mb-0">
                  <img src="../assets/images/users/male/18.jpg" alt="image" class="avatar brround  mr-2">
                  <a href="#" class="time-title p-0 leading-normal mt-2">Dewitt Hennessey <i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"></i></a>
                </div>
                <div class="mt-2 footerimg-r ml-auto">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Articles"><span class="text-muted mr-2"><i class="fa fa-comment-o"></i> 34</span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Likes"><span class="text-muted"><i class="fa fa-thumbs-o-up"></i> 12</span></a>
                </div>
              </div>
            </li>
            <li class="item2">
              <div class="footerimg d-flex mt-0 mb-0">
                <div class="d-flex footerimg-l mb-0">
                  <img src="../assets/images/users/male/8.jpg" alt="image" class="avatar brround  mr-2">
                  <a href="#" class="time-title p-0 leading-normal mt-2">Archie Overturf <i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"></i></a>
                </div>
                <div class="mt-2 footerimg-r ml-auto">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Articles"><span class="text-muted mr-2"><i class="fa fa-comment-o"></i> 12</span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Likes"><span class="text-muted"><i class="fa fa-thumbs-o-up"></i> 32</span></a>
                </div>
              </div>
            </li>
            <li class="item2">
              <div class="footerimg d-flex mt-0 mb-0">
                <div class="d-flex footerimg-l mb-0">
                  <img src="../assets/images/users/female/21.jpg" alt="image" class="avatar brround  mr-2">
                  <a href="#" class="time-title p-0 leading-normal mt-2">Barbra Flegle <i class="icon icon-check text-success fs-12 ml-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="verified"></i></a>
                </div>
                <div class="mt-2 footerimg-r ml-auto">
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Articles"><span class="text-muted mr-2"><i class="fa fa-comment-o"></i> 21</span></a>
                  <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Likes"><span class="text-muted"><i class="fa fa-thumbs-o-up"></i> 32</span></a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--/Right Side Content-->
  </div>
</div>
</section><!--/Section-->

<!-- Onlinesletter-->
<section class="sptb bg-white border-top">
<div class="container">
  <div class="row">
    <div class="col-lg-7 col-xl-6 col-md-12">
      <div class="sub-newsletter">
        <h3 class="mb-2"><i class="fa fa-paper-plane-o mr-2"></i> Subscribe To Our Onlinesletter</h3>
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
      </div>
    </div>
    <div class="col-lg-5 col-xl-6 col-md-12">
      <div class="input-group sub-input mt-1">
        <input type="text" class="form-control input-lg " placeholder="Enter your Email">
        <div class="input-group-append ">
          <button type="button" class="btn btn-primary btn-lg br-tr-3  br-br-3">
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!--/Onlinesletter-->

{% endblock %}
